* {
  margin: 0;
  padding: 0; }

body {
  background: #ebf3df !important;
  width: 100%;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif; }

a {
  text-decoration: none; }

#wrapper {
  display: flex;
  flex-direction: column;
  padding: 2rem 3.5rem;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box; }

header {
  width: 100%;
  display: flex;
  justify-content: center; }
  header .nav {
    padding: 1rem;
    border: solid 8px #c2aa5e;
    box-sizing: border-box;
    background: #ebf3df;
    z-index: 1; }
    header .nav .navbar--nav {
      list-style: none;
      line-height: 1.75;
      text-align: center; }
      header .nav .navbar--nav .nav__link {
        text-transform: uppercase;
        padding: 0.5rem 1rem;
        color: #343943;
        font-weight: 700; }
      header .nav .navbar--nav .nav__link:hover {
        color: #c2aa5e; }

#main {
  width: 100%;
  min-height: 100%; }
  #main .main--inner {
    width: 100%;
    height: 100%;
    margin-top: -4rem;
    display: flex; }
    #main .main--inner .main__left {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      line-height: 1.35;
      padding-top: 15rem; }
      #main .main--inner .main__left .content--holder {
        margin: 1rem 0; }
      #main .main--inner .main__left .heading__ms {
        font-size: 1.85rem;
        text-transform: capitalize;
        letter-spacing: 0.1rem;
        color: #b4b7b6;
        font-weight: 600; }
      #main .main--inner .main__left .heading__md {
        font-size: 2.2rem;
        letter-spacing: 0.1rem;
        font-weight: 600;
        color: #343943;
        text-transform: capitalize; }
      #main .main--inner .main__left .main__left__text {
        font-size: 0.85rem;
        letter-spacing: 0.05rem;
        line-height: 1.5; }
      #main .main--inner .main__left .cbtn {
        width: 70%;
        position: relative; }
      #main .main--inner .main__left .cbtn:after {
        width: 0;
        height: 0;
        border-left: 20.5px solid #c2aa5e;
        border-top: 20.5px solid transparent;
        border-bottom: 20.5px solid transparent;
        position: absolute;
        content: "";
        top: 1px;
        bottom: 0;
        right: 0;
        margin-right: -21.5px; }
    #main .main--inner .main__center {
      flex: 2;
      line-height: 1.25;
      display: flex;
      flex-direction: column;
      padding: 4.5rem 0;
      box-sizing: border-box;
      border: solid 8px #c2aa5e;
      text-align: center; }
      #main .main--inner .main__center .heading__md {
        font-size: 5rem;
        letter-spacing: 0.1rem;
        font-weight: 600;
        color: #343943;
        text-transform: capitalize;
        display: block;
        margin: 0 -1rem;
        background: #ebf3df; }
      #main .main--inner .main__center .heading__sm {
        color: #c2aa5e;
        font-weight: 600;
        letter-spacing: 0.15rem;
        text-transform: uppercase;
        font-size: 1rem;
        margin: 0 -1rem;
        background: #ebf3df;
        display: block; }
      #main .main--inner .main__center .image--holder {
        width: 80%;
        margin: 0 auto;
        margin-top: 3rem;
        flex-basis: 90%;
        background: url("../images/guitar_two.jpg") no-repeat 100% 100%/cover;
        position: relative;
        background-blend-mode: multiply; }
        #main .main--inner .main__center .image--holder img {
          width: 100%;
          display: none; }
      #main .main--inner .main__center .image--holder:after {
        position: absolute;
        height: 100%;
        left: 0;
        top: 0;
        width: 100%;
        content: "";
        background: rgba(194, 170, 94, 0.3); }
    #main .main--inner .main__right {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      line-height: 1.1;
      padding-top: 15rem;
      box-sizing: border-box;
      padding: 0 1rem; }
      #main .main--inner .main__right .heading__ms {
        color: #c2aa5e;
        font-weight: 600;
        text-transform: capitalize;
        letter-spacing: 0.1rem;
        text-align: center;
        font-size: 1.25rem; }
      #main .main--inner .main__right .album {
        width: 100%;
        margin: 1.5rem 0;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
        display: flex;
        flex-direction: column;
        box-sizing: border-box; }
        #main .main--inner .main__right .album .album--art {
          width: 100%;
          height: 200px; }
        #main .main--inner .main__right .album img {
          height: 100%;
          width: 100%; }
        #main .main--inner .main__right .album .album--body {
          box-sizing: border-box;
          padding: 1rem;
          text-align: center;
          display: flex;
          flex-direction: column;
          line-height: 1.5;
          background: #343943;
          color: #b4b7b6; }
          #main .main--inner .main__right .album .album--body .heading__md {
            text-transform: capitalize;
            letter-spacing: 0.05rem;
            font-size: 1.1rem; }
          #main .main--inner .main__right .album .album--body .heading__sm {
            font-size: 0.75rem;
            letter-spacing: 0.025rem;
            font-weight: 400; }
          #main .main--inner .main__right .album .album--body .link--n {
            color: #c2aa5e;
            text-transform: capitalize;
            letter-spacing: 0.03rem;
            border-top: dashed 1px #b4b7b6;
            padding: 0.5rem 0;
            margin: 0.5rem 0;
            font-weight: 600; }
          #main .main--inner .main__right .album .album--body .link--n:hover {
            color: #b4b7b6; }

.cbtn {
  background: #343943;
  border: none;
  padding: 0.8rem;
  text-transform: uppercase;
  color: #c2aa5e;
  font-weight: 600;
  margin: 1rem 0;
  letter-spacing: 0.08rem;
  font-size: 1rem;
  cursor: pointer; }

.cbtn:hover {
  background: #c2aa5e;
  color: #343943; }
