@import url("https://fonts.googleapis.com/css?family=Raleway:400, 700,900");

$primary: #4c061d;
$secondary: #d17a22;
$tertiary: #f2f4f3;
$secondary-dark: #e5b686;
$primary-dark: #8d606f;
$primary-text: #1c030b;

body {
  background: $tertiary !important;
  max-width: 100%;
  overflow-x: hidden;
  min-height: 100vh;
  font-family: "Raleway", sans-serif !important;
}

#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

header {
  .navbar--custom {
    background: $primary;
    border-bottom: solid 2px $secondary;

    .nav-link {
      color: $secondary;
      text-transform: uppercase;
    }

    .nav-link:hover {
      color: $secondary-dark;
      border-bottom: solid 1px $secondary-dark;
    }
    .navbar-brand {
      color: $secondary;
      text-transform: uppercase;
      font-weight: 800;
      font-size: 2rem;
    }
    .navbar-brand:hover {
      color: $secondary-dark;
    }
  }
}

#home {
  min-height: 580px;
  width: 100%;

  .home__inner {
    width: 100%;
    min-height: 580px;
    background: url("https://source.unsplash.com/random/1280x720") no-repeat
      center/cover;
    box-sizing: border-box;
    position: relative;

    .home__caption {
      position: absolute;
      z-index: 20;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      line-height: 1;
      color: $primary;

      .caption__header {
        font-size: 5rem;
        letter-spacing: 0.1rem;
        text-transform: uppercase;
        font-weight: 400;
      }
    }
  }

  .home__inner:after {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(209, 122, 34, 0.3);
    content: "";
  }
}

#about {
  min-height: 500px;
  width: 100%;

  .about__inner {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
    box-sizing: border-box;
    line-height: 1.85;

    .about__heading {
      text-transform: uppercase;
      font-weight: 400;
      letter-spacing: 0.1rem;
      font-size: 3rem;
    }

    .about__text {
      letter-spacing: 0.05rem;
      font-size: 0.85rem;
      margin: 2rem 0;
    }

    .about__list {
      text-transform: uppercase;
      list-style-type: none;
      display: flex;
      justify-content: space-between;
      .about__list__item {
        margin: 0 0.5rem;
      }
    }

    .about__images {
      list-style-type: none;
      display: grid;
      grid-template-columns: repeat(4, minmax(300px, 1fr));
      grid-gap: 0.5rem;
      margin: 1.5rem 0;
    }
  }
}

#media {
  min-height: 500px;
  width: 100%;

  .media__inner {
    height: 100%;
    width: 100%;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

#tour {
  min-height: 500px;
  width: 100%;
  background: url("https://source.unsplash.com/random/1283x721") no-repeat
    center/cover;
  .tour__inner {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}

#news {
  min-height: 500px;
  width: 100%;
  .news__inner {
    height: 100%;
    width: 100%;
    display: flex;

    .news {
      flex: 1;
    }
    .social {
      flex: 1;
    }
  }
}

#contact {
  min-height: 500px;
  width: 100%;

  .contact__inner {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

// Utility Classes
.cbtn {
  background: transparent;
  border: double 1px $primary;
  text-transform: uppercase;
  padding: 1rem 2rem;
  text-align: center;
  color: $primary;
  font-weight: 500;
  margin: 1rem 0;
}
